body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 25%;
}

.error {
    display: flex;
    flex-direction: column;
    color: red;
    font-size: 1rem;
    margin-top: 5px;
}

.weatherWidget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
}

.weatherLocation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.weatherLocation .city {
    font-size: 2rem;
    font-weight: 700;
}

.weatherLocation .country {
    font-size: 1rem;
    font-weight: 500;
}

.weatherDetails {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.weatherDetails .temp {
    font-size: 3rem;
    font-weight: 700;
}

.weatherDetails .cond {
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.weatherDetails .cond .description {
    font-size: 1rem;
    font-weight: 300;
}